src/main/webapp/resources/plugin/IFCO001_BGT_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IFCO001_BGT_SO" targetNamespace="http://ildong.com/CO/BGT_ERP" xmlns:p1="http://ildong.com/CO/BGT_ERP" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_IFCO001_BGT_SO" />
    <wsdl:types>
        <xsd:schema targetNamespace="http://ildong.com/CO/BGT_ERP" xmlns="http://ildong.com/CO/BGT_ERP" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="IFCO001_BGT_S_MT_response" type="IFCO001_BGT_S_DT_response" />
            <xsd:element name="IFCO001_BGT_S_MT" type="IFCO001_BGT_S_DT" />
            <xsd:complexType name="IFCO001_BGT_S_DT_response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">22e58d94cf9f11eab1db00000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2963e0c1aae711ea999900090faa0001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="KSTAR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2963e0beaae711eac63f00090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="KTEXT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2963e0bfaae711eab65700090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="IF_FLAG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">e9a238a9b68e11eabf4b00090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="IF_MSG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">e9a238aab68e11eabb6000090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IFCO001_BGT_S_DT">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">ad82e511bf4511eab33700000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="DUMMY" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2963e0bdaae711ea88d000090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IFCO001_BGT_S_MT">
        <wsdl:documentation />
        <wsdl:part name="IFCO001_BGT_S_MT" element="p1:IFCO001_BGT_S_MT" />
    </wsdl:message>
    <wsdl:message name="IFCO001_BGT_S_MT_response">
        <wsdl:documentation />
        <wsdl:part name="IFCO001_BGT_S_MT_response" element="p1:IFCO001_BGT_S_MT_response" />
    </wsdl:message>
    <wsdl:portType name="IFCO001_BGT_SO">
        <wsdl:documentation />
        <wsdl:operation name="IFCO001_BGT_SO">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IFCO001_BGT_SO" />
            </wsp:Policy>
            <wsdl:input message="p1:IFCO001_BGT_S_MT" />
            <wsdl:output message="p1:IFCO001_BGT_S_MT_response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IFCO001_BGT_SOBinding" type="p1:IFCO001_BGT_SO">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="IFCO001_BGT_SO">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IFCO001_BGT_SOService">
        <wsdl:port name="HTTP_Port" binding="p1:IFCO001_BGT_SOBinding">
            <soap:address location="http://i4podev.ildong.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_D&amp;receiverParty=&amp;receiverService=&amp;interface=IFCO001_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FCO%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>