src/main/webapp/resources/plugin/IFCO014_BGT_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IFCO014_BGT_SO" targetNamespace="http://ildong.com/CO/BGT_ERP" xmlns:p1="http://ildong.com/CO/BGT_ERP" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_IFCO014_BGT_SO" />
    <wsdl:types>
        <xsd:schema targetNamespace="http://ildong.com/CO/BGT_ERP" xmlns="http://ildong.com/CO/BGT_ERP" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="IFCO014_BGT_S_MT_response" type="IFCO014_BGT_S_DT_response" />
            <xsd:element name="IFCO014_BGT_S_MT" type="IFCO014_BGT_S_DT" />
            <xsd:complexType name="IFCO014_BGT_S_DT">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">2ba8545eddf811ea9ebb00000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2963e0c1aae711ea999900090faa0001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BUKRS" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2963e0beaae711eac63f00090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBUDCA" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2963e0bfaae711eab65700090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZSERIA" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fc76b96ec1a511ea86fb00090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="KOSTL" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fc76b96fc1a511ea8df200090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="VTWEG" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fc76b970c1a511eab0f800090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZLEVEL" type="xsd:string" minOccurs="0" />
                                <xsd:element name="ZPRODH" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fc76b971c1a511eab6de00090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="KSTAR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fc76b972c1a511eac8ff00090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="GJAHR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc52446ddf811eac412e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZSATYP" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc52447ddf811ea9d0fe82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG001" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc52448ddf811ea9033e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG002" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc52449ddf811eaca25e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG003" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc5244addf811eac396e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG004" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc5244bddf811ea9918e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG005" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc5244cddf811eabff6e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG006" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc5244dddf811eaaec3e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG007" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc5244eddf811ea96eee82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG008" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc54b47ddf811ea919ee82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG009" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc54b48ddf811eac63ce82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG010" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc54b49ddf811ea82cfe82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG011" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc54b4addf811eaac48e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WKG012" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2bc54b4bddf811ea94c7e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IFCO014_BGT_S_DT_response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">7c888765cfa011ea886200000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="IF_FLAG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">e9a238a9b68e11eabf4b00090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="IF_MSG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">e9a238aab68e11eabb6000090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IFCO014_BGT_S_MT">
        <wsdl:documentation />
        <wsdl:part name="IFCO014_BGT_S_MT" element="p1:IFCO014_BGT_S_MT" />
    </wsdl:message>
    <wsdl:message name="IFCO014_BGT_S_MT_response">
        <wsdl:documentation />
        <wsdl:part name="IFCO014_BGT_S_MT_response" element="p1:IFCO014_BGT_S_MT_response" />
    </wsdl:message>
    <wsdl:portType name="IFCO014_BGT_SO">
        <wsdl:documentation />
        <wsdl:operation name="IFCO014_BGT_SO">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IFCO014_BGT_SO" />
            </wsp:Policy>
            <wsdl:input message="p1:IFCO014_BGT_S_MT" />
            <wsdl:output message="p1:IFCO014_BGT_S_MT_response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IFCO014_BGT_SOBinding" type="p1:IFCO014_BGT_SO">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="IFCO014_BGT_SO">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IFCO014_BGT_SOService">
        <wsdl:port name="HTTP_Port" binding="p1:IFCO014_BGT_SOBinding">
            <soap:address location="http://i4podev.ildong.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_D&amp;receiverParty=&amp;receiverService=&amp;interface=IFCO014_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FCO%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
<!--         <wsdl:port name="HTTPS_Port" binding="p1:IFCO014_BGT_SOBinding"> -->
<!--             <soap:address location="https://i4podev.ildong.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_P&amp;receiverParty=&amp;receiverService=&amp;interface=IFCO014_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FCO%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" /> -->
<!--         </wsdl:port> -->
    </wsdl:service>
</wsdl:definitions>