src/main/webapp/resources/plugin/IFFI054_BGT_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IFFI054_BGT_SO" targetNamespace="http://ildong.com/FI/BGT_ERP" xmlns:p1="http://ildong.com/FI/BGT_ERP" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_IFFI054_BGT_SO" />
    <wsdl:types>
        <xsd:schema targetNamespace="http://ildong.com/FI/BGT_ERP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ildong.com/FI/BGT_ERP">
            <xsd:element name="IFFI054_BGT_S_MT" type="IFFI054_BGT_S_DT" />
            <xsd:element name="IFFI054_BGT_S_MT_response" type="IFFI054_BGT_S_DT_response" />
            <xsd:complexType name="IFFI054_BGT_S_DT_response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">b20b0ac7ebf911eac6b600000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="OUT_APM" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">35d05a8fcfa311ea892dfc45961f5b4c</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BUKRS" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a84cfa311eabdfcfc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZMONTH" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a85cfa311eac1f2fc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZCHANN" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a86cfa311eace98fc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="KOSTL" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a87cfa311ea85c8fc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LIFNR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a88cfa311eace11fc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="CARD_NUM" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">b2070329ebf911ea93d2e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PBANK" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">b207032aebf911eaa69fe82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="BANKN" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">b207032bebf911ea9dc8e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZPREBAL" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a89cfa311ea8f34fc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZAPMBUGAMT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a8acfa311eab007fc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZTFSENDAMT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a8bcfa311ea894cfc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZTFRECVAMT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a8ccfa311ea8a77fc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZCURUSE" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a8dcfa311eab30cfc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZCURBAL" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">35d05a8ecfa311ea9b1afc45961f5b4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="IF_FLAG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">35d086c6cfa311ea87acfc45961f5b4c</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="IF_MSG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">35d086c7cfa311ea8f76fc45961f5b4c</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IFFI054_BGT_S_DT">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">6878c6e6ebfa11eab1fe00000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="IN_REQUEST" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">5e1db2dbebf911eaca9ae82aea7bdd4c</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BUKRS" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">5e1db2d6ebf911ea88e6e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZMONTH" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">5e1db2d7ebf911eab094e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZCHANN" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">5e1db2d8ebf911ea841ce82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="KOSTL" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">5e1db2d9ebf911eaaa67e82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LIFNR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">5e1db2daebf911eaa66de82aea7bdd4c</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IFFI054_BGT_S_MT">
        <wsdl:documentation />
        <wsdl:part name="IFFI054_BGT_S_MT" element="p1:IFFI054_BGT_S_MT" />
    </wsdl:message>
    <wsdl:message name="IFFI054_BGT_S_MT_response">
        <wsdl:documentation />
        <wsdl:part name="IFFI054_BGT_S_MT_response" element="p1:IFFI054_BGT_S_MT_response" />
    </wsdl:message>
    <wsdl:portType name="IFFI054_BGT_SO">
        <wsdl:documentation />
        <wsdl:operation name="IFFI054_BGT_SO">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IFFI054_BGT_SO" />
            </wsp:Policy>
            <wsdl:input message="p1:IFFI054_BGT_S_MT" />
            <wsdl:output message="p1:IFFI054_BGT_S_MT_response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IFFI054_BGT_SOBinding" type="p1:IFFI054_BGT_SO">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="IFFI054_BGT_SO">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IFFI054_BGT_SOService">
        <wsdl:port name="HTTP_Port" binding="p1:IFFI054_BGT_SOBinding">
            <soap:address location="http://i4podev.ildong.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_D&amp;receiverParty=&amp;receiverService=&amp;interface=IFFI054_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FFI%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
<!--         <wsdl:port name="HTTPS_Port" binding="p1:IFFI054_BGT_SOBinding"> -->
<!--             <soap:address location="https://i4podev.ildong.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_P&amp;receiverParty=&amp;receiverService=&amp;interface=IFFI054_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FFI%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" /> -->
<!--         </wsdl:port> -->
    </wsdl:service>
</wsdl:definitions>