src/main/webapp/resources/plugin/IFMM037_BGT_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IFMM037_BGT_SO" targetNamespace="http://ildong.com/MM/BGT_ERP" xmlns:p2="http://ildong.com/BGT_ERP" xmlns:p1="http://ildong.com/MM/BGT_ERP" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_IFMM037_BGT_SO" />
    <wsdl:types>
        <xsd:schema targetNamespace="http://ildong.com/BGT_ERP" xmlns="http://ildong.com/BGT_ERP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p1="http://ildong.com/MM/BGT_ERP">
            <xsd:import namespace="http://ildong.com/MM/BGT_ERP" />
            <xsd:element name="IFMM037_BGT_S_MT_response" type="p1:IFMM037_BGT_S_DT_response" />
            <xsd:element name="IFMM037_BGT_S_MT" type="p1:IFMM037_BGT_S_DT" />
        </xsd:schema>
        <xsd:schema targetNamespace="http://ildong.com/MM/BGT_ERP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ildong.com/MM/BGT_ERP">
            <xsd:complexType name="IFMM037_BGT_S_DT">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">ff56db4ebf4411eaa6ae00000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="I_CPUDT_FR" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f1bcfa11ea827968071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_CPUDT_TO" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f2bcfa11ea9f1268071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_CPUTM_FR" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f3bcfa11ea95a268071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_CPUTM_TO" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f4bcfa11ea80ac68071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_EBELN" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f5bcfa11eab1cd68071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_LIFNR" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f6bcfa11eaba7e68071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_MATNR" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f7bcfa11eab20368071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_MBLNR" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f8bcfa11ea9ca368071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="I_MJAHR" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">116196f9bcfa11ea9f1268071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IFMM037_BGT_S_DT_response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">386c5b2ccf9e11ea8b6f00000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ET_ITEM" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">57c1db9fbcfa11eabc8768071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="MBLNR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1aef6bcfa11eaa32668071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MJAHR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1aef7bcfa11ea849f68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZEILE" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1aef8bcfa11eab78068071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="BUDAT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1aef9bcfa11eab1dd68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="BWART" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1aefabcfa11eacfa768071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="BTEXT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1aefbbcfa11ea9f3268071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MATNR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1aefcbcfa11eac18f68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="TXZ01" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db8cbcfa11ea826868071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WERKS" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db8dbcfa11eabb4168071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LGORT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db8ebcfa11eac65e68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LGOBE" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db8fbcfa11ea9e4468071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LIFNR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db90bcfa11ea8fcb68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SHKZG" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db91bcfa11eaa09268071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MENGE" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db92bcfa11ea8e6c68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MEINS" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db93bcfa11eaacf568071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WRBTR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db94bcfa11eab0c268071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WAERS" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db95bcfa11eac5dc68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="CHARG" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db96bcfa11eaa0b868071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="EBELN" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db97bcfa11eac54b68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="EBELP" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db98bcfa11eac66068071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SJAHR" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db99bcfa11ea922968071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SMBLN" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db9abcfa11eac76968071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LSMBLP" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db9bbcfa11eab69a68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="CPUDT" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db9cbcfa11ea9ae768071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="CPUTM" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db9dbcfa11ea8f2368071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ERNAM" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">57c1db9ebcfa11ea921e68071545e5a7</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="IF_FLAG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">57c1dba0bcfa11eab64968071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="IF_MSG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">57c1dba1bcfa11ea98b968071545e5a7</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IFMM037_BGT_S_MT">
        <wsdl:documentation />
        <wsdl:part name="IFMM037_BGT_S_MT" element="p2:IFMM037_BGT_S_MT" />
    </wsdl:message>
    <wsdl:message name="IFMM037_BGT_S_MT_response">
        <wsdl:documentation />
        <wsdl:part name="IFMM037_BGT_S_MT_response" element="p2:IFMM037_BGT_S_MT_response" />
    </wsdl:message>
    <wsdl:portType name="IFMM037_BGT_SO">
        <wsdl:documentation />
        <wsdl:operation name="IFMM037_BGT_SO">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IFMM037_BGT_SO" />
            </wsp:Policy>
            <wsdl:input message="p1:IFMM037_BGT_S_MT" />
            <wsdl:output message="p1:IFMM037_BGT_S_MT_response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IFMM037_BGT_SOBinding" type="p1:IFMM037_BGT_SO">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="IFMM037_BGT_SO">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IFMM037_BGT_SOService">
        <wsdl:port name="HTTP_Port" binding="p1:IFMM037_BGT_SOBinding">
            <soap:address location="http://i4podev.ildong.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_D&amp;receiverParty=&amp;receiverService=&amp;interface=IFMM037_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FMM%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
<!--         <wsdl:port name="HTTPS_Port" binding="p1:IFMM037_BGT_SOBinding"> -->
<!--             <soap:address location="https://i4podev.ildong.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_P&amp;receiverParty=&amp;receiverService=&amp;interface=IFMM037_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FMM%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" /> -->
<!--         </wsdl:port> -->
    </wsdl:service>
</wsdl:definitions>