src/main/webapp/resources/plugin/IFSD113_BGT_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IFSD113_BGT_SO" targetNamespace="http://ildong.com/SD/BGT_ERP" xmlns:p1="http://ildong.com/SD/BGT_ERP" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_IFSD113_BGT_SO" />
    <wsdl:types>
        <xsd:schema targetNamespace="http://ildong.com/SD/BGT_ERP" xmlns="http://ildong.com/SD/BGT_ERP" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="IFSD113_BGT_S_MT" type="IFSD113_BGT_S_DT" />
            <xsd:element name="IFSD113_BGT_S_MT_response" type="IFSD113_BGT_S_DT_response" />
            <xsd:complexType name="IFSD113_BGT_S_DT_response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">db6f743dfd4311ea845d00000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="IF_MSG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">3beb3bddba7211eaa7f300090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="IF_FLAG" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">3beb3bdcba7211ea8a0d00090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">3beb3be3ba7211eaa8d400090faa0001</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="PARTNER" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3beb3bdfba7211eaa6f500090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="VKORG" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3beb3be0ba7211eaa4f300090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="VTWEG" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3beb3be1ba7211ea98a100090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="NAME1" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3beb3be2ba7211ea8e5300090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="NAME2" type="xsd:string" minOccurs="0" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IFSD113_BGT_S_DT">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">b0047bf1fd4311eabcf300000069c58a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ERDAR_FR" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2963e0beaae711eac63f00090faa0001</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ERDAR_TO" type="xsd:string" minOccurs="0" />
                    <xsd:element name="VKORG" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IFSD113_BGT_S_MT">
        <wsdl:documentation />
        <wsdl:part name="IFSD113_BGT_S_MT" element="p1:IFSD113_BGT_S_MT" />
    </wsdl:message>
    <wsdl:message name="IFSD113_BGT_S_MT_response">
        <wsdl:documentation />
        <wsdl:part name="IFSD113_BGT_S_MT_response" element="p1:IFSD113_BGT_S_MT_response" />
    </wsdl:message>
    <wsdl:portType name="IFSD113_BGT_SO">
        <wsdl:documentation />
        <wsdl:operation name="IFSD113_BGT_SO">
            <wsdl:documentation />
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IFSD113_BGT_SO" />
            </wsp:Policy>
            <wsdl:input message="p1:IFSD113_BGT_S_MT" />
            <wsdl:output message="p1:IFSD113_BGT_S_MT_response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IFSD113_BGT_SOBinding" type="p1:IFSD113_BGT_SO">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="IFSD113_BGT_SO">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IFSD113_BGT_SOService">
        <wsdl:port name="HTTP_Port" binding="p1:IFSD113_BGT_SOBinding">
            <soap:address location="http://i4podev.ildong.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_D&amp;receiverParty=&amp;receiverService=&amp;interface=IFSD113_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FSD%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
<!--         <wsdl:port name="HTTPS_Port" binding="p1:IFSD113_BGT_SOBinding"> -->
<!--             <soap:address location="https://i4podev.ildong.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BGT_D&amp;receiverParty=&amp;receiverService=&amp;interface=IFSD113_BGT_SO&amp;interfaceNamespace=http%3A%2F%2Fildong.com%2FSD%2FBGT_ERP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" /> -->
<!--         </wsdl:port> -->
    </wsdl:service>
</wsdl:definitions>